<html xmlns:wicket="http://wicket.apache.org">
<body>
    <wicket:panel>
        <ul class="pagination">
            <li><a wicket:id="first" class="first">&laquo;</a></li>
            <li><a wicket:id="prev" class="prev">‹</a></li>
            <li wicket:id="navigation" class="goto"><a wicket:id="pageLink" href="#"> <span wicket:id="pageNumber">5</span>
            </a></li>
            <li><a wicket:id="next" class="next">›</a></li>
            <li><a wicket:id="last" class="last">&raquo;</a></li>
        </ul>
    </wicket:panel>
</body>
</html>