<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="modal fade" id="change-pwd-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form wicket:id="change-password-form" class="form-horizontal" role="form">
                        <span id="feedback" wicket:id="feedback"></span>
                        <div class="field" wicket:id="pwd-feedback-container">
                            <label class="control-label" for="pwd">旧密码<span class="required">*</span></label>
                            <div class="input">
                                <input id="pwd" type="password" class="form-control" wicket:id="pwd">
                            </div>
                        </div>
                        <div class="field" wicket:id="new-pwd-feedback-container">
                            <label class="control-label" for="new-pwd">新密码<span class="required">*</span></label>
                            <div class="input">
                                <input id="new-pwd" type="password" class="form-control" wicket:id="new-pwd">
                            </div>
                        </div>
                        <div class="field" wicket:id="pwd-again-feedback-container">
                            <label class="control-label" for="pwd-again">密码确认<span class="required">*</span></label>
                            <div class="input">
                                <input id="pwd-again" type="password" class="form-control" wicket:id="pwd-again">
                            </div>
                        </div>
                        <div class="wizard-button top10">
                            <button type="button" wicket:id="cancel-link" class="btn btn-default">取消</button>
                            <button type="button" wicket:id="submit-link" class="btn btn-success">保存</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</wicket:panel>