<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta  name="author" content="TradingEQ">
<meta name="keywords" content="TradingEQ 交易工房 TMBox 数据实验室 策略实验室">
<meta name="description" content="TradingEQ 交易工房 TMBox 数据实验室 策略实验室">
<meta name="baidu-site-verification" content="xWtVS0B3bW" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title wicket:id="title"></title>
</head>
<body>
<div class="page">
    <div wicket:id="header"></div>
    <div class="content">
        <wicket:child />
    </div>
    <div></div>
    <div wicket:id="footer"></div>
</div>
<h1 class="hide" wicket:id="keywords">TradingEQ 交易工房</h1>
<!-- WPA Button Begin -->
<script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzkzODAwNTc2N18xMDUyNzBfNDAwOTIwMTUyOF8"></script>
<!-- WPA Button End -->
</body>
</html>