<wicket:panel>
    <div class="dropdown-menu">
        <ul class="title-menu">
            <li class="menu-item" data-dropdown="item1">Item 1</li>
            <li class="menu-item" data-dropdown="item2">Item 2</li>
            <li class="menu-item" data-dropdown="item3">Item 3</li>
            <li class="menu-item" data-dropdown="item4">Item 4</li>
        </ul>
        <div class="dropdown-menu">
            <div class="dropdown-menu-item-container item1">
                <ul class="sub-menu">
                    <li class="sub-menu-item">SubItem1-1</li>
                    <li class="sub-menu-item">SubItem1-2</li>
                    <li class="sub-menu-item">SubItem1-3</li>
                    <li class="sub-menu-item">SubItem1-4</li>
                </ul>
            </div>
            <div class="dropdown-menu-item-container item1">
                <ul class="sub-menu">
                    <li class="sub-menu-item">SubItem1-1</li>
                    <li class="sub-menu-item">SubItem1-2</li>
                    <li class="sub-menu-item">SubItem1-3</li>
                    <li class="sub-menu-item">SubItem1-4</li>
                </ul>
            </div>
            <div class="dropdown-menu-item-container item2">
                <ul class="sub-menu">
                    <li class="sub-menu-item">SubItem2-1</li>
                    <li class="sub-menu-item">SubItem2-2</li>
                    <li class="sub-menu-item">SubItem2-3</li>
                    <li class="sub-menu-item">SubItem2-4</li>
                </ul>
            </div>
            <div class="dropdown-menu-item-container item3">
                <ul class="sub-menu">
                    <li class="sub-menu-item">SubItem3-1</li>
                    <li class="sub-menu-item">SubItem3-2</li>
                    <li class="sub-menu-item">SubItem3-3</li>
                    <li class="sub-menu-item">SubItem3-4</li>
                </ul>
            </div>
            <div class="dropdown-menu-item-container item4">
                <ul class="sub-menu">
                    <li class="sub-menu-item">SubItem4-1</li>
                    <li class="sub-menu-item">SubItem4-2</li>
                    <li class="sub-menu-item">SubItem4-3</li>
                    <li class="sub-menu-item">SubItem4-4</li>
                </ul>
            </div>
        </div>
    </div>
</wicket:panel>