<wicket:panel>
<div class="header-container">
    <div class="header">
        <div class="uppper-container">
            <div class="header-logo"/>
        </div>
        <div class="bottom-container">
            <div class="header-menu first" data-dropdown="header-spt"><span class="inner"><wicket:message key="fx.header.navi.menu.smart.program.trade"/></span></div>
            <div class="header-menu" data-dropdown="header-fts"><span class="inner"><wicket:message key="fx.header.navi.menu.financial.tech.service"/></span></div>
            <div class="header-menu" data-dropdown="header-edu"><span class="inner"><wicket:message key="fx.header.navi.menu.education"/></span></div>
            <div class="header-menu" data-dropdown="header-lab"><span class="inner"><wicket:message key="fx.header.navi.menu.lab"/></span></div>
            <div class="header-menu" data-dropdown="header-news"><span class="inner"><wicket:message key="fx.header.navi.menu.news"/></span></div>
            <div class="header-menu" data-dropdown="header-about-us"><span class="inner"><wicket:message key="fx.header.navi.menu.about.us"/></span></div>
            <div class="header-menu" data-dropdown="header-qa"><span class="inner"><wicket:message key="fx.header.navi.menu.qa"/></span></div>
        </div>
        <div class="header-menu-dropdown header-spt">
       		<div class="header-menu-item"><a wicket:id="tmbox-link"><wicket:message key="fx.header.navi.menu.sub.spt.fx.tmbox"/></a></div>
       		<div class="header-menu-item"><a wicket:id="cta-link"><wicket:message key="fx.header.navi.menu.sub.spt.future.cta"/></a></div>
        </div>
        <div class="header-menu-dropdown header-fts">
       		<div class="header-menu-item"><a wicket:id="api-service-link"><wicket:message key="fx.header.navi.menu.sub.fts.api.service"/></a></div>
        </div>
        <div class="header-menu-dropdown header-edu">
       		<div class="header-menu-item"><a wicket:id="fmi-link"><wicket:message key="fx.header.navi.menu.sub.edu.finance.market.intro"/></a></div>
       		<div class="header-menu-item"><a wicket:id="eaadvanced-link"><wicket:message key="fx.header.navi.menu.sub.edu.ea.advanced"/></a></div>
        </div>
        <div class="header-menu-dropdown header-lab">
       		<div class="header-menu-item"><a wicket:id="strategy-lab-link"><wicket:message key="fx.header.navi.menu.sub.lab.strategy.lab"/></a></div>
       		<div class="header-menu-item"><a wicket:id="data-lab-link"><wicket:message key="fx.header.navi.menu.sub.lab.data.lab"/></a></div>
        </div>
        <div class="header-menu-dropdown header-news">
       		<div class="header-menu-item"><a wicket:id="new-product-link"><wicket:message key="fx.header.navi.menu.sub.news.new.product"/></a></div>
        </div>
        <div class="header-menu-dropdown header-about-us">
       		<div class="header-menu-item"><a wicket:id="contact-us-link"><wicket:message key="fx.header.navi.menu.sub.about.us.contact.info"/></a></div>
       		<!-- div class="header-menu-item"><wicket:message key="fx.header.navi.menu.sub.about.us.mission"/></div-->
        </div>
        <div class="header-menu-dropdown header-qa">
       		<div class="header-menu-item"><a wicket:id="qa-link"><wicket:message key="fx.header.navi.menu.sub.qa.custom.question"/></a></div>
        </div>
    </div>
</div>
</wicket:panel>